/* Initializing rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
}


/* Header section */
.header {
    display: block;
    position: relative;
}

.container {
    display: flex;
    background-color: rgb(27, 52, 121);
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    color: #f0f0f0;
}

.container h1 {
    font-size: 2rem;
}

.container p {
    font-size: 1.2rem;
}

/* Logo style */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 96, 157);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    border: 2px solid rgb(172, 172, 172);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo-container span {
    font-size: 1.5rem;
    font-weight: bold;
}


.form-hd-detail {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: rgba(172, 172, 172, 0.17);
    padding: .5rem;
    width: 200px;
    margin: 0 auto;
}

.form-hd-detail p {
    font-size: .7rem;
}


/* Main Page styling starts here */
main {
    margin: 1rem 2rem;
}


/* Combination of the neccessary Information */
.personal-container,
.contact,
.idtfn,
.driver,
.medical,
.declaration {
    padding: 2rem 1rem 4rem 1rem;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid grey
}

.personal-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.declaration {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.personal-container h2,
.contact-container h3,
.idtfn-container h4,
.medical-container h4,
.driver-container h4,
.declaration-container h4 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Verdana, sans-serif;
    color: rgb(27, 52, 121);
    margin-bottom: 1.2rem;
}

.personal-container h2::after,
.contact-container h3::after,
.idtfn-container h4::after,
.medical-container h4::after,
.driver-container h4::after,
.declaration-container h4::after {
    content: "";                
    display: block;             
    width: 20%;                 
    border-bottom: 2.3px solid #000; 
    margin-top: 5px;
    color: rgb(27, 52, 121);            
}

.personal-group label,
.contact-group label,
.contact-body-address label,
.idtfn-group label,
.driver-group label,
.medical-group label,
.medical-body-mdc label {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.personal-group input,
.personal-group select,
.contact-group input,
.contact-group select,
.idtfn-group input,
.idtfn-body input,
.driver-body input,
.driver-group select,
.medical-group select,
.medical-group input {
    padding: .6rem;
    border: 1.2px solid rgb(163, 161, 161);
    border-radius: 8px;
    background-color: rgb(243, 241, 241);
}

.personal-group,
.contact-group,
.idtfn-group,
.driver-group,
.medical-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


/* Personal Information section */
.personal-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.personal-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .6rem;
}


/* Contact Section */
.contact {
    position: relative;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.contact-body-address {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-csp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.contact-body-address textarea {
    padding: .5rem;
    height: 60px;
    border-radius: 8px;
    background-color: rgb(243, 241, 241);
}

/* Identification styling */
.idtfn-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.idtfn-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* table styling */
.table-heading {
    font-size: 1rem;
    text-align: center;
}

.passport,
.driver-id {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;background-color: rgb(243, 241, 241);
    padding: 8px;
    text-align: center;
    align-items: center;
}

.passport i,
.driver-id i {
    font-size: 2rem;
    padding: .5rem;
    color: #ccc;
}

.passport p,
.driver-id p {
    font-size: 1rem;
    padding: .5rem;
    color: #969595;
}


/* Driver Information styling */
.driver-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.driver-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

/* Medical Information styling */
.medical-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.medical-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.medical-body-mdc {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.medical-body-mdc input {
    padding: .5rem;
    border: 1.2px solid rgb(163, 161, 161);
    border-radius: 8px;
    background-color: rgb(243, 241, 241);
    height: 70px;
}


/* Declaration Term styling */
.declaration-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.declaration-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.declaration-group label {
    display: flex;
    align-items: flex-start;
    gap: .5rem; 
    font-size: 0.9rem;
    line-height: 1.4;
    padding: .8rem;
    border: 1px solid rgb(163, 161, 161);
    background-color: rgb(243, 241, 241);
    border-radius: 10px;
    cursor: pointer;
}

.declaration-group input[type="checkbox"] {
    margin-top: 0.2rem; 
}


/* Button section styling */
.button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: -3rem;
}


.button button {
    padding: .6rem 1rem;
    font-size: 1rem;
    border: none;
    cursor:pointer;
    border-radius: 10px;
    color: white;
    transition: background 0.3s ease;
}

.button div:nth-child(1) button {
    background-color: rgb(96, 94, 94);
}

.button div:nth-child(2) button {
    background-color: navy;
}

.button div:nth-child(3) button {
    background-color: red;
}



/* For Tablet Devices */
@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        position: inherit;
    }

    .container {
        background-color: rgb(53, 81, 72);
        gap: .5rem;
        padding: .8rem;
    }

    .logo-container span {
        font-size: 1.3rem;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 1rem;
    }

    .form-hd-detail p {
        font-size: .6rem;
    } 
    
    /* Combination of the neccessary Information */
    .personal-container,
    .contact,
    .idtfn,
    .driver,
    .medical,
    .declaration {
        padding: 1.5rem 1rem 3rem 1rem;
    }



    .personal-container h2,
    .contact-container h3,
    .idtfn-container h4,
    .medical-container h4,
    .driver-container h4,
    .declaration-container h4 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .personal-container h2::after,
    .contact-container h3::after,
    .idtfn-container h4::after,
    .medical-container h4::after,
    .driver-container h4::after,
    .declaration-container h4::after {           
        width: 15%;                 
        border-bottom: 2px solid #000;         
    }

    .personal-group label,
    .contact-group label,
    .contact-body-address label,
    .idtfn-group label,
    .driver-group label,
    .medical-group label,
    .medical-body-mdc label {
        font-size: .8rem;
    }

    .personal-group input,
    .personal-group select,
    .contact-group input,
    .contact-group select,
    .idtfn-group input,
    .idtfn-body input,
    .driver-body input,
    .driver-group select,
    .medical-group select,
    .medical-group input {
        padding: .5rem;
        border: 1px solid rgb(163, 161, 161);
    }

    .personal-group,
    .contact-group,
    .idtfn-group,
    .driver-group,
    .medical-group {
        gap: .4rem;
    }

   /* Personal Information section */
    .personal-container {
        gap: 1.5rem;
    }
    .personal-body {
        grid-template-columns: 1fr 1fr;
        grid-gap: .5rem;
    }


/* Contact Section */
    .contact-container {
        gap: 1.5rem;
    }

    .contact-body {
        grid-gap: .8rem;
    }


    .contact-csp {
        grid-template-columns: 1fr 1fr;
        grid-gap: .8rem;
    }

    .contact-body-address textarea {
        padding: .4rem;
        height: 50px;
    }

    /* Identification styling */
    .idtfn-container {
        gap: 1.5rem;
    }

    .idtfn-body {
        grid-gap: .8rem;
    }

    /* table styling */
    .table-heading {
        font-size: .8rem;
    }

    .passport,
    .driver-id {
        padding: 7px;
    }

    .passport i,
    .driver-id i {
        font-size: 1.5rem;
        padding: .4rem;
    }

    .passport p,
    .driver-id p {
        font-size: .8rem;
        padding: .4rem;
    }

    /* Driver Information styling */
    .driver-container {
        gap: 1.5rem;
    }

    .driver-body {
        grid-gap: .4rem;
    }

    /* Medical Information styling */
    .medical-container {
        gap: 1.5rem;
    }

    .medical-body {
        grid-template-columns: 1fr 1fr;
        grid-gap: .8rem;
    }

    .medical-body-mdc {
        grid-gap: .8rem;
    }

    .medical-body-mdc input {
        padding: .4rem;
        border: 1px solid rgb(163, 161, 161);
        border-radius: 8px;
        background-color: rgb(243, 241, 241);
        height: 60px;
    }


    /* Declaration Term styling */
    .declaration-container {
        gap: 1.5rem;
    }

    .declaration-body {
        gap: .8rem;
        
    }

    .declaration-group label {
        gap: .4rem; 
        font-size: 0.8rem;
        line-height: 1.4;
        padding: .7rem;
    }

    .declaration-group input[type="checkbox"] {
        margin-top: 0.2rem; 
    }

    .button {
        margin-bottom: -2rem;
    }

}





/* For Mobile Device */
@media screen and (max-width: 768px) {
    .header {
        position: inherit;
    }

    .container {
        background-color: rgb(145, 20, 126);
        gap: .5rem;
        padding: .8rem;
    }

    .logo-container {
        background-color: #000;
    }

    .logo-container span {
        font-size: 1.3rem;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 1rem;
    }

    .form-hd-detail p {
        font-size: .6rem;
    } 
    
    /* Combination of the neccessary Information */
    .personal-container,
    .contact,
    .idtfn,
    .driver,
    .medical,
    .declaration {
        padding: 1rem .8rem 2rem .8rem;
    }



    .personal-container h2,
    .contact-container h3,
    .idtfn-container h4,
    .medical-container h4,
    .driver-container h4,
    .declaration-container h4 {
        font-size: .8rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .personal-container h2::after,
    .contact-container h3::after,
    .idtfn-container h4::after,
    .medical-container h4::after,
    .driver-container h4::after,
    .declaration-container h4::after {           
        width: 12%;                 
        border-bottom: 2px solid #000;         
    }

    .personal-group label,
    .contact-group label,
    .contact-body-address label,
    .idtfn-group label,
    .driver-group label,
    .medical-group label,
    .medical-body-mdc label {
        font-size: .7rem;
    }

    .personal-group input,
    .personal-group select,
    .contact-group input,
    .contact-group select,
    .idtfn-group input,
    .idtfn-body input,
    .driver-body input,
    .driver-group select,
    .medical-group select,
    .medical-group input {
        padding: .5rem;
        border: 1px solid rgb(163, 161, 161);
    }

    .personal-group,
    .contact-group,
    .idtfn-group,
    .driver-group,
    .medical-group {
        gap: .3rem;
    }

   /* Personal Information section */
    .personal-container {
        gap: 1rem;
    }
    .personal-body {
        grid-template-columns: 1fr;
        grid-gap: .7rem;
    }


/* Contact Section */
    .contact-container {
        gap: 1.5rem;
    }

    .contact-body {
        grid-template-columns: 1fr;
        grid-gap: .8rem;
    }


    .contact-csp {
        grid-template-columns: 1fr;
        grid-gap: .8rem;
    }

    .contact-body-address textarea {
        padding: .4rem;
        height: 50px;
    }

    /* Identification styling */
    .idtfn-container {
        gap: 1.5rem;
    }

    .idtfn-body {
        grid-template-columns: 1fr;
        grid-gap: .8rem;
    }

    /* table styling */
    .table-heading {
        font-size: .8rem;
    }

    .passport,
    .driver-id {
        padding: 7px;
    }

    .passport i,
    .driver-id i {
        font-size: 1.5rem;
        padding: .4rem;
    }

    .passport p,
    .driver-id p {
        font-size: .8rem;
        padding: .4rem;
    }

    /* Driver Information styling */
    .driver-container {
        gap: 1.5rem;
    }

    .driver-body {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }

    /* Medical Information styling */
    .medical-container {
        gap: 1.5rem;
    }

    .medical-body {
        grid-template-columns: 1fr;
        grid-gap: .8rem;
    }

    .medical-body-mdc {
        grid-gap: .8rem;
    }

    .medical-body-mdc input {
        padding: .4rem;
        border: 1px solid rgb(163, 161, 161);
        border-radius: 8px;
        background-color: rgb(243, 241, 241);
        height: 60px;
    }


    /* Declaration Term styling */
    .declaration-container {
        gap: 1.5rem;
    }

    .declaration-body {
        gap: .8rem;
        
    }

    .declaration-group label {
        gap: .4rem; 
        font-size: 0.8rem;
        line-height: 1.4;
        padding: .7rem;
    }

    .declaration-group input[type="checkbox"] {
        margin-top: 0.2rem; 
    }

    .button {
        gap: 1rem;
        margin-bottom: -1rem;
    }

    .button button {
        font-size: .8rem;
    }

}

