* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 1rem auto;
}

/* ------Header section--------- */
.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 4rem;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/* ---Logo--- */
.logo img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

/* Navigation Links and Toggle */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    position: relative;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}


.nav-links {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;

}
.nav-links a {
    margin: 0 .5rem;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links a:hover {
    color: rgb(153, 26, 26);
    border-radius: 8px;
    transition: all .05s ease-in-out;
}

/* -------Main section------- */
.main-container {
    margin: 0 auto;
}


.hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 4rem;
    background: linear-gradient(135deg, #6a88ff, #a66dd4);
}

.hero h1{
    width: 65%;
    font-size: 3.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    line-height: 1.1;
}

.hero p {
    width: 60%;
    font-size: 1.2rem;
    color: white;
    padding: 1rem 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.button1 {
    padding: 1rem 2rem;
    background-color: #fff;
    color: blue;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button2 {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    font-size: 1rem;
}

.button1,
.button2 {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.button1:hover {
    transform: translateY(-5px);
}

.button2:hover {
    background-color: #fff;
    color: blue;
}

/* Second section[hero-image] */
.hero-image {
    position: relative;
    width: 45%;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 8px;
    background-color: #f0f0f024;
}

.hero-image i {
    position: absolute;
    top: 30%;
    left: 35%;
    color: #fff;
}

.hero-image p {
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

/* ----------Main Features------------- */
.main-features {
    padding: 2rem 4rem;
    
}

.main-features h2 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-align: center;
}

.main-features p {
    padding: 1rem;
    font-size: 1.3rem;
    color: grey;
    text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    height: 300px;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.card i {
    font-size: 2.3rem;
    background-color: rgb(71, 71, 197);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 75px;
    height: 73px;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
}

.card p {
    font-size: 1.1rem;
    color: grey;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* About our Company */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 4rem;
}


.about-heading h4 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    margin-bottom: 1rem;
}

.about-heading p {
    font-size: 1.2rem;
    color: grey;
    margin-bottom: 1rem;
}


.stats {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.stats div {
    text-align: center;
}

.stats h5 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(71, 71, 197);
}

.stats p {
    font-size: 1.2rem;
    color: grey;
}

.stats h5,
.stats p {
    margin: .5rem 0;
}


.office-img {
    background-color: rgb(71, 71, 197);
    position: relative;
    border-radius: 8px;
    width: 50%;
    height: 250px;
    margin: 1rem auto;
}
.office-img i {
    position: absolute;
    top: 25%;
    left: 45%;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.office-img p {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 1.7rem;
    color: #fff;
}

/* ------Our Services--------- */
.our-services {
    padding: 2rem 4rem;
    background-color: #f0f0f085;
}

.our-services h6 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-align: center;
}

#our-services {
    font-size: 1.2rem;
    color: grey;
    text-align: center;
    padding: 1rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
}

.service-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    text-align: start;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.service-card i {
    font-size: 2rem;
    background-color: rgb(85, 182, 61);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}

.service-card p {
    font-size: 1rem;
    color: grey;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.learn-more {
    text-decoration: none;
    color: rgb(71, 71, 197);
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
    display: inline-flex;
}

.learn-more .arrow {
    margin-left: 6px;
    transition: 0.3s ease-in-out;
}

.learn-more:hover .arrow {
    color: red;
    transform: translateX(5px);
    
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Testimonies of Our Clients */
.tst-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 2rem 4rem;
}


/* Testimonie heading styling*/
.tst-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* -----testimonie heading------ */
.tst-heading h6 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-align: center;
}

.tst-heading P {
    font-size: 1.2rem;
    text-align: center;
    color: grey;
}

/* Testimonie Card  styling*/
.tst-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem 0;
    margin: 0 auto;
    
}

.tst-card {
    background-color: #fff;
    padding: 2rem;
    height: auto;
    border-radius: 8px;
    text-align: start;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    border-left: 4px solid rgb(71, 71, 197);
}

.tst-card p {
    font-style: italic;
    font-size: 1rem;
    color: grey;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.tst-card-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: start;
    align-items: center;
}

.tst-card-user i {
    font-size: 1.1rem;
    background-color: rgb(71, 71, 197);
    color: #fff;
    padding: 1rem;

    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-btm {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.card-btm h5 {
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin-bottom: .2rem;
}

.card-btm p {
    font-size: 1rem;
    color: grey;
    font-style: normal;
}

.tst-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* -------Contact section------------💨 */
.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 4rem;
}

.contact-us-page h6 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#contact-us-p {
    font-size: 1.2rem;
    color: grey;
    margin-bottom: 1.5rem;
    width: 70%;
}

.contact-info {
    display: flex;
    gap: 1rem;
}

.contact-info i {
    font-size: 1.1rem;
    background-color: rgb(71, 71, 197);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.cta-user {
    display: block;
    margin-bottom: 3rem;

}

.cta-user p {
    font-size: 1rem;
    color: grey;
    margin: 0;
    padding: 0;
}

#cta-p {
    font-weight: bold;
    font-size: 1rem;
    color: #000000a8;
    margin-bottom: .5rem;
}

/* ---------Form section---------- */
.form-container {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    width: 100%;
}

.form-container label {
    display: hidden;
}

.form-container input {
    font-size: 1rem;
    padding: 1rem;
    border: 2px solid #ccccccb6;
    border-radius: 8px;
    width: 100%;
}

.form-container input:focus {
    border-color: rgb(71, 71, 197);
    outline: none;
}

.form-container select {
    font-size: 1rem;
    padding: 1rem;
    border: 2px solid #ccccccb6;
    border-radius: 8px;
    width: 100%;
}

.form-container select:focus {
    border-color: rgb(71, 71, 197);
    outline: none;
}

.form-container textarea {
    font-size: 1rem;
    padding: 1rem;
    border: 2px solid #ccccccb6;
    border-radius: 8px;
    width: 100%;
    height: 140px;
}

.form-container textarea:focus {
    border-color: rgb(71, 71, 197);
    outline: none;
}

.form-container button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(71, 71, 197);
    background-color: #fff;
    border: none;
    width: 30%;
}

.form-container button:hover {
    background-color: #fff;
    color: rgb(71, 71, 197);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}

/* ------Footer section----- */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    align-items: flex-start;
}



.footer-container {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    height: 250px;
    margin-top: 1rem;
}

#footer-container-h6 {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.footer-container p {
    text-align: start;
}

.social-links {
    display: flex;
    gap: 1rem;

}

.social-links i {
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(71, 71, 197);
    width: 50px;
    height: 50px;
}

.social-links i:hover {
    transform: translateX(5px);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-content h6 {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.footer-content p {
    font-size: 1rem;
    width: 65%;
    color: rgb(180, 180, 180); 
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quick-links h6 {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.quick-links a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-size: 1rem;
}

.quick-links a:hover {
    color: rgb(71, 71, 197);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.service-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service-links h6 {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.service-links a {
    font-size: 1rem;
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.service-links a:hover {
    color: rgb(71, 71, 197);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.contact-links h6 {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.contact-links div i {
    color: rgb(180, 180, 180);
}

.contact-links div p {
    font-size: 1rem;
    color: rgb(180, 180, 180);
}


.ctl {
    display: flex;
    gap: .5rem;
    padding: .5rem;
}

.footer-content,
.quick-links,
.service-links,
.contact-links {
    margin-top: 2rem;
    height: 100px;

}

.footer-bottom {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: rgb(180, 180, 180);
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 2rem 0;
}

.footer-bottom::before {
    content: "";
    display: block;
    align-items: center;
    width: 90%;
    height: .3px;
    background-color: grey;
    margin: 1rem auto;
}


/* Tablet Version */
@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        padding: .8rem;
    }

    .container {
        justify-content: space-around;
        gap: .8rem;
    }

/* ---Logo--- */
    .logo img {
        width: 70px;
        height: 70px;
    }


    .nav-links {
        gap: .3rem;

    }

    .nav-links a {
        margin: 0 .4rem;
        font-size: 1rem;
        font-weight: 600;
    }

/* -------Main section------- */
    .main-container {
        margin: 0 auto;
    }

/* Hero section styling */
    .hero-content {
    padding: 1rem 2rem;
    }

    .hero h1{
        width: 55%;
        font-size: 2rem;
    }

    .hero p {
        width: 60%;
        font-size: 1rem;
        padding: 1rem 0;
    }

    .buttons {
        gap: 1rem;
        padding: .7rem 0 .7rem 0;
    }

    .button1,
    .button2 {
        padding: .8rem 1.6rem;
        font-size: .8rem;
    }

    /* Second section[hero-image] */
    .hero-image {
        width: 40%;
        height: 250px;
    }

    .hero-image i {
        text-align: center;
        top: 25%;
        left: 28%;
    }

    .hero-image p {
        top: 57%;
        left: 20%;
        font-size: 1.5rem;
    }


    .main-features {
        padding: 1rem 2rem;
        
    }

    .main-features h2 {
        font-size: 1.5rem;
    }

    .main-features p {
        padding: .8rem;
        font-size: 1.1rem;
    }

    .features {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .card {
        height: 240px;
        padding: 1.5rem;
        margin: 1rem .5rem;
    }

    .card i {
        font-size: 2rem;
        padding: 1rem;
        margin-bottom: .7rem;
        width: 70px;
        height: 68px;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .card p {
        font-size: 1rem;
    }

    /* About our Company */
    .about {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 1rem 2rem;
    }


    .about-text h4 {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    .about-text p {
        font-size: 1.1rem;
        margin-bottom: .8rem;
    }


    .stats {
        margin: 1.5rem;
    }

    .stats h5 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .stats p {
        font-size: 1rem;
    }

    .stats h5,
    .stats p {
        margin: .4rem 0;
    }


    .office-img {
        margin: .8rem auto;
    }

    .office-img i {
        left: 42%;
        font-size: 2.5rem;
    }

    .office-img p {
        left: 22%;
        font-size: 1.5rem;
    }

/* ------Our Services--------- */
    .our-services {
        padding: 1rem 2ch;
    }

    .our-services h6 {
        font-size: 1.5rem;
    }

    #our-services {
        font-size: 1rem;
        padding: .8rem;
    }

    .services {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        padding: 1.5rem 0;
    }

    .service-card {
        padding: 1.5rem;
    }

    .service-card i {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    .service-card h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: .8rem;
    }

    .service-card p {
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .learn-more {
        font-size: 1rem;
    }

/* Testimonies of Our Clients */
    .tst-container {
        gap: .8rem;
        padding: 1rem 2rem;
    }

    /* Testimonie heading styling*/
    .tst-heading {
        gap: .8rem;
    }

    /* -----testimonie heading------ */
    .tst-heading h6 {
        font-size: 1.5rem;
    }

    .tst-heading P {
        font-size: 1rem;
    }

/* Testimonie Card  styling*/
    .tst-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        padding: 1.5rem 0;
        
    }

    .tst-card {
        padding: 1.5rem;
    }

    .tst-card p {
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .tst-card-user {
        gap: .8rem;
    }

    .tst-card-user i {
        font-size: 1.1rem;
        padding: .8rem;
        width: 45px;
        height: 43px;
    }

    .card-btm h5 {
        font-size: 1rem;
        margin-bottom: .2rem;
    }

    .card-btm p {
        font-size: 1rem;
    }

    .tst-card:hover {
        transform: scale(1.05);
    }

/* -------Contact section------------💨 */
    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 1rem 2rem;
    }

    .contact-us-page h6 {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    #contact-us-p {
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    .contact-info {
        gap: .8rem;
    }

    .contact-info i {
        font-size: 1.1rem;
        padding: .8rem;
        width: 45px;
        height: 43px;
    }

    .cta-user {
        margin-bottom: 2rem;
    }

    .cta-user p {
        font-size: 1rem;
    }

    #cta-p {
        font-size: 1rem;
    }

    .form-container button {
        padding: .6rem 1rem;
        font-size: .8rem;
        width: 40%;
    }
}


/* ---------For Mobile Devices----------------- */
@media screen and (max-width: 768px) {
    .header {
        padding: .5rem;
    }

    
/* --Logo---- */
    .logo img {
        width: 50px;
        height: 50px;
    }

    .nav-links {
        display: none; /* hide links on small screens */
        flex-direction: column;
        gap: 1rem;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem 2rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  } 

  .nav-toggle {
    display: block; /* show hamburger button */
  }

    

    .links a {
        margin: 0 .4rem;
        font-size: 1rem;
        font-weight: 600;
    }
/* Hero section styling */
    .hero-content {
    padding: 1rem 2rem;
    }

    .hero h1{
        width: 100%;
        font-size: 2rem;
        line-height: 1.2;
    }

    .hero p {
        width: 60%;
        font-size: 1rem;
        padding: 1rem 0;
    }

    .buttons {
        gap: 1rem;
        padding: .7rem 0 .7rem 0;
    }

    .button1,
    .button2 {
        padding: .8rem 1.6rem;
        font-size: .8rem;
    }

    /* Second section[hero-image] */
    .hero-image {
        width: 40%;
        height: 250px;
    }

    .hero-image i {
        text-align: center;
        top: 25%;
        left: 28%;
    }

    .hero-image p {
        top: 57%;
        left: 20%;
        font-size: 1.5rem;
    }


    .main-features {
        padding: 1rem 2rem;
        
    }

    .main-features h2 {
        font-size: 1.5rem;
    }

    .main-features p {
        padding: .8rem;
        font-size: 1.1rem;
    }

    .features {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .card {
        padding: 1.5rem;
        margin: 1.5rem .8rem;
        
    }

    .card i {
        font-size: 1.8rem;
        padding: .8rem;
        margin-bottom: .8rem;
        width: 65px;
        height: 63px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1rem;
    }

    /* About our Company */
    .about {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 1rem 2rem;
    }


    .about-text h4 {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    .about-text p {
        font-size: 1.1rem;
        margin-bottom: .8rem;
    }


    .stats {
        margin: 1.5rem;
    }

    .stats h5 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .stats p {
        font-size: 1rem;
    }

    .stats h5,
    .stats p {
        margin: .4rem 0;
    }


    .office-img {
        margin: .8rem auto;
    }

    .office-img i {
        left: 42%;
        font-size: 2.5rem;
    }

    .office-img p {
        left: 28%;
        font-size: 1.5rem;
    }

/* ------Our Services--------- */
    .our-services {
        padding: 1rem 2ch;
    }

    .our-services h6 {
        font-size: 1.5rem;
    }

    #our-services {
        font-size: 1rem;
        padding: .8rem;
    }

    .services {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        padding: 1.5rem 0;
    }

    .service-card {
        padding: 1.5rem;
    }

    .service-card i {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    .service-card h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: .8rem;
    }

    .service-card p {
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .learn-more {
        font-size: 1rem;
    }

/* Testimonies of Our Clients */
    .tst-container {
        gap: .8rem;
        padding: 1rem 2rem;
    }

    /* Testimonie heading styling*/
    .tst-heading {
        gap: .8rem;
    }

    /* -----testimonie heading------ */
    .tst-heading h6 {
        font-size: 1.5rem;
    }

    .tst-heading P {
        font-size: 1rem;
    }

/* Testimonie Card  styling*/
    .tst-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        padding: 1.5rem 0;
        
    }

    .tst-card {
        padding: 1.5rem;
    }

    .tst-card p {
        font-size: 1rem;
        margin-bottom: .8rem;
    }

    .tst-card-user {
        gap: .8rem;
    }

    .tst-card-user i {
        font-size: 1.1rem;
        padding: .8rem;
        width: 45px;
        height: 43px;
    }

    .card-btm h5 {
        font-size: 1rem;
        margin-bottom: .2rem;
    }

    .card-btm p {
        font-size: 1rem;
    }

    .tst-card:hover {
        transform: scale(1.05);
    }

/* -------Contact section------------💨 */
    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 1rem 2rem;
    }

    .contact-us-page h6 {
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    #contact-us-p {
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    .contact-info {
        gap: .8rem;
    }

    .contact-info i {
        font-size: 1.1rem;
        padding: .8rem;
        width: 45px;
        height: 43px;
    }

    .cta-user {
        margin-bottom: 2rem;
    }

    .cta-user p {
        font-size: 1rem;
    }

    #cta-p {
        font-size: 1rem;
    }  
}