* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    /* background-color: black; */

}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.cal-container {
    padding: 1rem .5rem;
    background-color: black;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    border-radius: 15px;

}

.screen {
    width: 90%;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid #333;
    border-radius: 12px;
    margin: 0 auto;
}

.buttons {
    position: relative;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem;
}

tr, td {
    border: 2px solid #333;
    border-collapse: collapse;
    border-radius: 15px;
    padding: 1rem;

}
